__pycache__/
.venv/
myenv/
.idea
data/
data_raw/
test_results/
validation_results/
checkpoints/
tb_logs/
Changes/
old_runs/
results/
wandb/
train_the_model.py
logs/
train.py
validate_or_test.py
utils_AM.py
pickle_test.py
models/
see as we go.ipynb
Amy_data_checker.ipynb